<div class="container">
  <div class="row">
    <div class="row"> 
      <div class="col-6 text-end"><%= link_to "新規ユーザー登録", '#', class: "btn btn-lg btn-primary" %></div>
      <div class="col-6"><%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %></div>
    </div>  
  </div>
</div>  