<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<h1 class = "toplogo">TeaMemo</h1>

<div class="topbtns"> 
  <div class="btn fuwafuwa"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn_color" %></div>
  <div class="btn fuwafuwa"><%= link_to "ログイン", new_user_session_path, class: "btn_color" %></div>
</div>  

<h1 class = "center">TeaMemoを使って予定と記憶を共有しよう</h1> 
