<div class="container">
  <div class="row">
    <div class="row"> 
      <div class="col-6 text-end"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-lg btn-primary" %></div>
      <div class="col-6"><%= link_to "ログインaaaaaa", new_user_session_path, class: "btn btn-lg btn-primary" %></div>
    </div>  
  </div>
</div>
<p>カレンダーを編集して記録を残すンゴhogehogehoge</p>