<div class = "col-md-6 mx-auto">
  <div class = "form-inline"> 
  
    <%= "一年前の今日は"%>
    <%= link_to 'こんな日', notification.calendar_message, %>
  
    <small class = "text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase%>
    </small>

    <hr>
  </div>
</div>
