<!--<%= model: @notification, url: calendar_notification_path(params[:group_id],params[:calendar_id]), local: true %>-->




<h2>Notification</h2>
<%=@notifications each do |notifications|%>
<% if notificatoins.exixts? %>
  <%= render notifications %>
<!-- = paginate notifications -->
<% else %>
<P>| 通知はありません</p>



