<%= model: @calendar_message, url: calendar_notifications_path, local: true %>

<h2>Notification</h2>
<%=@notifications each do |notifications|%>
<% if notificatoins.exixts? %>
  <%= render notifications %>
<!-- = paginate notifications -->
<% else %>
<P>| 通知はありません</p>
