= model: @calendar_message, url: notification_pat, local: true

h2.Notification
notifications = @notifications
if notificatoins.exixts?
= render notifications
//= paginate notifications
else 
P 
  | 通知はありません
