<%= form_with(model: @group, local: true) do |form| %>
  <div style="display:inline-flex">
    <div class="message">
      <%= form.text_field :name, placeholder: "グループ名を入力" %>
    </div>
    
    <div class="submit">
      <%= form.submit "作成" %>
    </div>
  </div>  
<% end %>