<div>
  <div class="card">
    <header class="card-header">
      <p><%= post.name %> さんの投降 - <%= post.created_at.strftime("%H:%M %S") %> </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p><%= post.comment %></p>
      </div>
    </div>
  </div>
  <hr/>
</div>