/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
  p {
    color:rgb(1, 37, 1);
    font-size: 40px;
    font-weight: bold;
    background-color:rgb(243, 213, 138);
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  head{
    background-color:slategrey;
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  .col-6{
    background-color:rgb(243, 213, 138);
    padding:  0px;
  }
  .nav-item nav-link active{
    background-color:darkgreen;
  }
  .row {
    background-color: darkred;
  }

  .li {
    background-color:rgb(1, 37, 1);
  }
  
  .td {
    text-decoration:none;
    background-color:rgb(207, 198, 176);
  }
  div{
    background-color:rgb(235, 222, 190);
    padding:  0px;
  }

  h2{
    background-color: burlywood;
    padding:  0px;
    font-family: 'Sawarabi Mincho', sans-serif;
  }
.navbar-expand-lg{
  background-color: burlywood;
}
.navbar-bland{
  background-color: burlywood;
}
.navbar navbar-expand-lg navbar-dark bg-info{
  background-color: burlywood;
}

