// Place all the styles related to the calendar_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.book {
    padding: 24px;
    background-color: #f3f3e9;
    margin: 16px;
    border: 5px solid;
    border-top: transparent;
    border-left: transparent;
}

.diary {
    background-color: #f3f3e9;
    font-family: 'Yomogi', cursive;
}

.messages {
    background-color: #f3f3e9;
    overflow-wrap: break-word;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #f3f3e9 50%, #f3f3e9 100%),
                    linear-gradient(180deg, #aaa 1px, transparent 1px);
    background-size: 8px 100%,
                    100% 2.5em;
    line-height: 2.5em;
    padding-bottom: 1px;
}

.bts {
    margin-left: 25vw;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gotoCaledar {
    padding: 4px 24px;
    background: #f3f3e9;
    color: black;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
}
.gotoCaledar:hover{
    background: rgb(255, 228, 179);
    color: black;
    transition: 0.5s ;
    text-decoration: none;
}

.up_button {
    padding: 4px 24px;
    background: #f3f3e9;
    color: black;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    
}
.up_button:hover{
    background: rgb(255, 228, 179);
    color: black;
    transition: 0.5s ;
    text-decoration: none;
}

.page_bottom {
    margin-bottom: 100px;
    transition: 1.0s ;
}

.textarea{
    color: black;
    margin-left: 25vw;
    border-radius: 10px;
    width: 50vw;
}
.submit{
    margin-right: 25vw;
}

.f_field {
    color: white;
    margin-left: 25vw;
}

.del {
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid;
    color: black;
}