// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mem {
    color: #f3f3e9;
}

.grouptable {
    margin-left: 5vw;
    margin-right: 5vw;
    size: 50vw;
}

th, td {
    padding: 10px;
}

.groupg {
    border: solid;
}

.mkgroup {
    padding: 4px 24px;
    background: #f3f3e9;
    color: black;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    margin-left: 5vw;
}

.mkgroup:hover {
    background: rgb(255, 228, 179);
    color: black;
    transition: 0.5s ;
    text-decoration: none;
}