header
{
    background-color: rgb(68, 52, 41);
    color:black;
}
.container
{
    width: 150%;
    height: 130%;
    background-color: tan;
}
.li:hover
{
    color: tan;
}
.li:link
{
    color:tan;
}
.ul:hover
{
    color:white;
}
.hdc:hover
{
    color:white;
}