header
{
    background-color: #261414;
}
.container
{
    width: 150%;
    height: 130%;
    background-color: tan;
}

.teamemodayo{
    color:cadetblue;
    font-family: 'Yomogi', cursive;
}
.teamemodayo:hover{
    color:wheat;
    transition: 1.0s ;
    font-family: 'Yomogi', cursive;
}

.hLinks {
    text-decoration: none;
    color: #ffd700;
    text-align: right;
    padding: 8px;
}


.bName {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #f3f3e9;
    font-size: 32px;
    padding: 5px;
}

.hLinks {
    margin: 0 0 0 auto;
}